:root {
  /* Accent color */
  /* --header-bg: #ffffff93;
  --sub-header-bg: #e6ecd1; */
  --contenu: #3b3000;
  --contenu-bg: #E7D37F;

  --blur: 8px;
  --max-width: 70rem;
}

body,
html {
  overflow-x: hidden;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  scroll-behavior: smooth;
}

* {
  /* Reset property */
  margin: 0;
  padding: 0;

  /* Disable text selection */
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* Custom cursor */
  cursor: url('assets/cursor.svg'), auto;

  /* Font */
  font-family: Bricolage Grotesque;
}

a {
  color: black;
  cursor: url('assets/link.svg'), auto;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;

  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  transition: all .5s ease;
}

.scrolled {
  background-color: var(--header-bg);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  /* box-shadow: 0 0px 8px 4px #c9c9c969; */
}

header div {
  max-width: var(--max-width);
  margin: auto;
}

header h1 {
  display: block;
  float: left;
  padding: 1rem 0 1rem 1.4rem;
}

header ul {
  list-style: none;
  overflow: hidden;
}

header a {
  display: block;
  padding: 0.7rem 1rem 0.7rem 1.4rem;
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
}

header li {
  cursor: url('assets/link.svg'), auto;
  position: relative;
}

/* menu */

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: var(--sub-header-bg);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
}

/* menu icon */

header .menu-icon {
  cursor: url('assets/link.svg'), auto;
  float: right;
  padding: 2.1rem 1.4rem;
  position: relative;
  user-select: none;
}

header .menu-icon .navicon {
  background: black;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 23px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 7px;
}

header .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

header .menu-btn {
  display: none;
}

header .menu-btn:checked~.menu {
  max-height: 12rem;
}

header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 55em) {
  header h1 {
    padding: 1rem 0 1rem 0.7rem;
  }

  header div {
    padding: 0 0.7rem 0 0.7rem;
  }

  header a {
    float: left;
    padding: 1.5rem 0.7rem 1.3rem 0.7rem;
  }

  header .menu {
    clear: none;
    float: right;
    max-height: none;
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  header .menu-icon {
    display: none;
  }

  header li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  header a:hover li::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

main a {
  color: var(--contenu);
}

main .container {
  background-color: #5f8cc4;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

main .container img {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .contenu {
  color: var(--contenu);
  background-color: var(--contenu-bg);
}

main .programme-ete div {
  padding: 1rem;
}

main #lightgallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main #lightgallery img {
  margin: 1rem;
  border-radius: 20px;
  min-width: 10rem;
}

main .list {
  display: inline;
  justify-content: space-between;
}

main .contact a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

main .contact svg {
  padding-right: 0.5rem;
  fill: var(--contenu);
}

main #map {
  margin: 0;
  padding: 0;
  height: 20rem;
  width: 100%;
}

footer {
  text-align: center;
  background-color: #001a00;
  color: #9ebe9e;
  padding: 1rem;
}

footer a {
  color: #9ebe9e;
}